.waterItemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #f9f9f9;
    gap: 10px;
    width: 149px;
    height: 74px;
    padding: 18px 14px 18px 14px;
}

.waterInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 6px;
}

.amount {
    font-size: 14px;
    font-weight: 700;
    color: #323F47;
}

.time {
    font-size: 12px;
    color: #6C757D;
}

.actionButtons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.editButton, .deleteButton {
    background: none;
    border: none;
    cursor: pointer;
}

.svgIconWater {
    width: 38px;
    height: 38px;
    fill: #9BE1A0;
}

.svgIconPencil {
    width: 14px;
    height: 14px;
    stroke: #323F47;
}

.svgIconBin {
    width: 14px;
    height: 14px;
    stroke: #323F47;
}

@media screen and (min-width: 768px) {
    .waterItemContainer {
        width: 192px;
        height: 86px;
        gap: 20px;
        padding: 20px;
    }

    .waterInfo {
        gap: 4px;
    }

    .amount {
        font-size: 15px;
    }

    .time {
        font-size: 12px;
    }
    
    .actionButtons {
        gap: 12px;
    }

    .svgIconWater {
        width: 32px;
        height: 36px;
    }

    .svgIconPencil {
        width: 16px;
        height: 16px;
    }

    .svgIconBin {   
        width: 16px;
        height: 16px;
    }
}