.greeting {
    font-size: 32px;
    font-weight: 400;
    white-space: nowrap;
}

.panelUsername {
    font-size: 32px;
    font-weight: 700;
    margin-top:20px;
}

@media screen and (min-width: 768px) {
    .userPanel {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .greeting {
        font-size: 36px;
    }

    .panelUsername {
        font-size: 36px;
    }
}

@media screen and (min-width: 1440px) {
    .userPanel {
        white-space: nowrap;
    }
    
}