.userPanel {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 40px;
}

.greeting {
    font-size: 32px;
    font-weight: 400;
}

.username {
    font-size: 32px;
    font-weight: 700;
    margin-top:20px;
}
