.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.global {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.avatar {
    width: 75px;
    height: 75px;
}
@media screen and (min-width: 768px) {
    .avatar {
        width: 100px;
        height: 100px;
    }
}