.button {
  background-color: #626265;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  font-family: "Poppins", sans-serif;
  border: none;
}

.green {
  background-color: #9be1a0;
  color: #323f47;
}

.green:hover {
  background: #87d28d;
}

.transparent {
  background-color: #ffffff00;
  border: 1px solid #323f47;
  color: #323f47;
}

.transparent:hover {
  border: 1px solid #87d28d;
  color: #87d28d;
}

.dark {
  background-color: #323f47;
  color: #ffffff;
}

.dark:hover {
  color: #9be1a0;
}

.white {
  background-color: #f0eff4;
  color: rgba(50, 63, 71, 0.3);
}

.white:hover {
  color: #323f47;
}

@media screen and (min-width: 768px) {

  /* ++++++++++++  TABLET STYLES +++++++++++++++++++ */
  .button {
    font-size: 16px;
    line-height: 1.5;
  }
}