.waterList {
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 20px;
}

.emptyMessage {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
}

.waterTitle {
    font-weight: 700;    
    font-size: 24px;
    line-height: 24px;
    color: #323F47;
    margin-top: 10px;
}

.waterDescription {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #323F47;
}

.sliderContainer {
    bottom: 10px;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 9px;
    background: #FFFFFF;
    outline: none;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 8px;
    border-radius: 9px;
    background: #323F47;
    cursor: pointer;
}

@media screen and (min-width: 768px) {

    .waterListContainer {
        width: 640px;
        height: 118px;
    }

    .waterList {
        gap: 32px;
    }

    .slider::-webkit-slider-thumb {
        width: 235px;
    }

    .emptyMessage {
        gap: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .waterList {
        gap: 16px;
        width: 608px;
    }

    .slider {
        width: 608px;
    }
}