.waterListContainer {
    position: relative;
    width: 303px;
    overflow: hidden;
}

.waterList {
    display: flex;
    gap: 8px;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 24px;
}

.sliderContainer {
    bottom: 10px;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 303px;
    height: 8px;
    border-radius: 9px;
    background: #FFFFFF;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 8px;
    border-radius: 9px;
    background: #323F47;
    cursor: pointer;
}
