.addWaterContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.addWaterButton {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    color: #323F47;
    background-color: #9BE1A0;
    border: #9BE1A0;
}

.addWaterText {
    display: flex;
    font-weight: 700;
    line-height: 24px;
    color: #323F47;
    font-size: 16px;
    align-items: center;
    white-space: nowrap;
}

.svgIconPlus {
    width: 20px;
    height: 20px;
    stroke: black;
    fill: none;
}

@media screen and (min-width: 768px) {
    .addWaterContainer {
        white-space: nowrap;
    }
    
}
