/* src/components/UserBarPopover/UserBarPopover.module.css */

.popover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 137px;
    height: 72px;
    border-radius: 15px;
    color: white;
    background-color: #323F47;
    gap: 8px;
    position: absolute;
    transform: translateY(4px);
}

.popoverButton {
    width: 76px;
    height: 18px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}
