.logoutModalContainer {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.logoutModalTextContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 304px;
}

.logoutModalTitle {
  color: #323f47;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  justify-content: center;
}

.logoutModalText {
  color: #323f47;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-align: center;
}

.logoutModalBtnWrapper {
  display: flex;
  gap: 9px;
  flex-direction: column;
  margin: 0 auto;
}

.logoutModalBtn {
  padding: 14px 126px;
  background-color: #9be1a0;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
}

.logoutModalCancelBtn {
  padding: 14px;
  background-color: #f0eff4;
  border: none;
  border-radius: 30px;
  color: #323f474d;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
}

.logoutModalBtn:hover {
  background-color: #87d28d;
}

.logoutModalCancelBtn:hover {
  color: #2f2f2f;
}

@media (min-width: 768px) {
  .logoutModalContainer {
    gap: 24px;
  }

  .logoutModalTextContainer {
    width: 436px;
    gap: 24px;
  }

  .logoutModalTitle {
    font-size: 28px;
    line-height: 1.14;
  }

  .logoutModalText {
    font-size: 18px;
    line-height: 1.33;
  }

  .logoutModalBtnWrapper {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  .logoutModalBtn {
    padding: 18px 57px;
    font-size: 16px;
    line-height: 1.5;
  }

  .logoutModalCancelBtn {
    padding: 18px 59px;
    font-size: 16px;
    line-height: 1.5;
  }
}
