.wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.avatarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.avatar {
  border-radius: 100%;
  width: 75px;
  height: 75px;
}

.settingsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.leftDesktopWrapper {
  display: flex;
  flex-direction: column;
}
.hiddenFileInput {
  display: none;
}
.fileLabel {
  width: 151px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.genderWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  margin-bottom: 24px;
}
.subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: var(--grey);
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--dark-grey);
}
.normaFormula {
  font-weight: 700;
  color: var(--green);
}
.radiobuttonWrapper {
  display: flex;
  gap: 20px;
}
.radiobuttonContainer {
  display: flex;
  gap: 10px;
}
.hiddenRadioInput {
  width: 20px;
  height: 20px;
  outline: none;
  accent-color: var(--green);
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 24px;
  justify-content: center;
  width: auto;
  height: auto;
}
.infoInputContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.input {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 14px 0px 14px 16px;
  width: 303px;
  height: 46px;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--dark-grey);
}
.input:active {
  border: 1px solid rgba(47, 47, 47, 0.4);
}
.normaWrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 303px;
}
.normaAsterisk {
  color: var(--green);
}
.footnote {
  color: var(--green);
  font-size: 20px;
}
.normaTextArea {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);
}
.rightDesktopWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (max-width: 374px) {
  .form {
    width: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .form {
    width: 648px;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    width: 920px;
  }
}
