.title {
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 20px;
}

.divModal {
  width: 303px;
  height: 450px;
}

@media screen and (min-width: 768px) {
  .divModal {
    width: 438px;
    height: 503px;
  }

  .title {
    font-size: 28px;
  }
}
