.deleteModalContainer {
  padding: 40px 14px;
  border-radius: 15px;
  display: flex;
  max-width: 344px;
  flex-direction: column;
  gap: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
}

.deleteModalCloseBtn {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 20px;
  right: 16px;
  stroke-width: 2px;
  cursor: pointer;
}

.deleteModalTextContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 316px;
}

.deleteModalTitle {
  color: #323f47;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  justify-content: center;
}

.deleteModalText {
  color: #323f47;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-align: center;
}

.deleteModalBtnWrapper {
  width: 304px;
  display: flex;
  gap: 9px;
  flex-direction: column;
  margin: 0 auto;
}

.deleteModalBtn {
  padding: 14px;
  background-color: #9be1a0;
  border: none;
  border-radius: 30px;
  color: #323f47;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  cursor: pointer;
  letter-spacing: -0.01em;
}

.deleteModalCancelBtn {
  padding: 14px;
  background-color: #f0eff4;
  border: none;
  border-radius: 30px;
  color: #323f474d;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.01em;
  cursor: pointer;
}

.deleteModalBtn:hover {
  background-color: #87d28d;
}

.deleteModalCancelBtn:hover {
  color: #2f2f2f;
}

@media (min-width: 768px) {
  .deleteModalContainer {
    width: 516px;
    height: 244px;
  }

  .deleteModalTextContainer {
    width: 100%;
    height: 100%;
  }

  .deleteModalTitle {
    font-size: 28px;
  }

  .deleteModalBtnWrapper {
    flex-direction: row;
    justify-content: center;
  }

  .deleteModalCancelBtn {
    width: 173px;
    height: 60px;
    font-size: 16px;
    padding: 18px, 57px, 18px, 57px;
  }
}

@media (min-width: 1440px) {
  .deleteModalContainer {
    width: 516px;
    height: 244px;
  }

  .deleteModalTextContainer {
    width: 100%;
    height: 100%;
  }

  .deleteModalTitle {
    font-size: 28px;
  }

  .deleteModalBtnWrapper {
    flex-direction: row;
    justify-content: center;
  }

  .deleteModalBtn {
    width: 173px;
    height: 60px;
    font-size: 16px;
    padding: 18px, 57px, 18px, 57px;
  }

  .deleteModalCancelBtn {
    width: 173px;
    height: 60px;
    font-size: 16px;
    padding: 18px, 57px, 18px, 57px;
  }
}
