.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.label {
  font-size: 14px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 24px;
}

.inputAutomaticDiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.btnAmount {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.btnAmountChange {
  border-radius: 50%;
  border: 1.5px solid #323f47;
  width: 40px;
  height: 40px;
  padding: 0;
}

.inputAutomatic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 81px;
  height: 40px;
  border-radius: 30px;
  text-align: center;
  background-color: #323f47;
  color: #ffff;
  border: 1.5px solid #323f47;
}

.inputSize {
  max-width: 303px;
  min-height: 46;
  border-radius: 15px;
  padding: 14px 16px 14px 16px;
}

.svgIcon {
  stroke: #323f47;
  fill: none;
  width: 40px;
  height: 40px;
}

.labelManual {
  font-size: 16px;
  font-weight: bold;
}
