.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #323f47;
}
