.modalContainer {
  background-color: rgba(47, 47, 47, 0.6);
  width: 100%;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
}
.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 20px 40px 20px;
  width: auto;
  max-height: 95vh;
  border-radius: 15px;
  overflow-y: auto;

  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
  position: relative;
}

.svgIcon {
  stroke: #2f2f2f;
  width: 24px;
  height: 24px;
}
.button {
  right: 16px;
  top: 24px;
  position: absolute;
  border: none;
  background: none;
}

@media screen and (min-width: 768px) {
  /* ++++++++++++  TABLET STYLES +++++++++++++++++++ */

  .modal {
    padding: 40px;
  }

  .svgIcon {
    width: 28px;
    height: 28px;
  }
  .button {
    right: 20px;
    top: 20px;
  }
}
