@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --dark-grey: #2f2f2f;
    --grey: #323f47;
    --lightGreenHover: #9be1a0;
    --green: #87d28d;
    --light: #f0eff4;
    --white: #ffffff;
    --lightGrey: #2f2f2f99;

    --animation: 150ms ease-in;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #2F2F2F;
    line-height: 1.28;
    letter-spacing: -0.14px;
}

section {
    width: 343px;
    padding: 24px 16px;
    background-color: #F0EFF4;
    border-radius: 30px;
}

.container {
    max-width: 311px;
    margin: 0 auto;
}

button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #323F47;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #323F47;
    font-weight: 700;
}

h1 {
    font-size: 38px;
    line-height: 1;
    letter-spacing: -0.38px;
}

h2 {
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.2px;
}

h3 {
    font-size: 20px;
    line-height: 1.25;
    letter-spacing: -0.16px;
}

h4 {
    font-size: 16px;
}

@media screen and (max-width: 374px) {
    section {
        width: 100%;
        max-width: 343px;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.16px;
    }

    section {
        padding: 32px;
    }

    h2 {
        font-size: 36px;
        line-height: 1.14;
        letter-spacing: -0.28px;
    }

    h3 {
        font-size: 28px;
        line-height: 1.33;
        letter-spacing: -0.18px;
    }

    h4 {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    section {
        width: 704px;
    }

    .container {
        max-width: 640px;
    }

    h1 {
        font-size: 64px;
        line-height: 1.09;
        letter-spacing: -0.64px;
    }
}

@media screen and (min-width: 1440px) {
    section {
        width: 672px;
    }

    .container {
        min-width: 608px;
    }

    h1 {
        font-size: 80px;
        line-height: 0.95;
        letter-spacing: -0.8px;
    }
}