@media screen and (min-width: 1440px) {
            .laptop {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 32px;
            }
          }
          @media screen and (max-width: 1439.98px) {
            .picture {
              display: none;
            }
          }