.wrapper {
            background-color: var(--color-lightgray);
            border-radius: 30px;
            height: 780px;
            padding: 0 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
          
          .form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 311px;
          }
          
          .title {
            color: var(--color-darkblue);
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 1;
            letter-spacing: -0.32px;
            margin: 0;
            padding-bottom: 32px;
            align-self: flex-start;
          }
          
          .label {
            display: block;
            color: var(--color-black);
            font-size: 14px;
            line-height: 1.28;
            letter-spacing: -0.14px;
            margin-bottom: 8px;
          }
          
          .input {
            background-color: transparent;
            border-radius: 15px;
            border: 1px solid rgba(47, 47, 47, 0.15);
            width: 100%;
            padding: 14px 16px;
            padding-right: 40px;
            margin-bottom: 24px;
            outline: none;
            transition:
              border-color var(--animation),
              transform var(--animation);
          
            /*content styles*/
            color: var(--color-black);
            font-size: 14px;
            line-height: 1.28;
            letter-spacing: -0.14px;
            transition: box-shadow var(--animation);
          }
          
          .input:hover,
          .input:focus {
            border-color: var(--color-lightgreenhover);
            box-shadow: 7px 5px 29px -18px rgba(50, 63, 71, 1);
          }
          
          .input:focus {
            border-color: var(--color-lightgreenhover);
            transform: scale(1.01);
          }
          
          .submitButton {
            padding: 14px 40px;
            border-radius: 30px;
            border: none;
            background-color: var(--color-lightgreen);
          
            /*content styles*/
            color: var(--color-darkblue);
            font-size: 14px;
            font-weight: 700;
            line-height: 1.28;
            letter-spacing: -0.14px;
            transition: background-color var(--animation);
          }
          
          .submitButton:hover,
          .submitButton:focus {
            background-color: var(--color-lightgreenhover);
          }
          
          .inputWrapper {
            position: relative;
            width: 100%;
          }
          
          .icon {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 16px;
            top: 37%;
            transform: translateY(-50%);
            cursor: pointer;
          }
          
          .error {
            display: block;
            max-width: 100%;
            color: var(--color-error);
            font-size: 12px;
            margin-bottom: 8px;
          }
          
          @media screen and (min-width: 768px) {
            .wrapper {
              padding: 0 134px;
            }
          
            .title {
              font-size: 36px;
              line-height: 38px;
              letter-spacing: -0.36px;
            }
          
            .label {
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: -0.16px;
            }
          
            .input {
              padding: 16px;
              margin-bottom: 24px;
              width: 100%;
          
              /*content styles*/
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: -0.16px;
            }
          
            .submitButton {
              padding: 18px 50px;
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: -0.16;
            }
          
            .error {
              font-size: 14px;
            }
            .form {
              max-width: unset;
              width: 436px;
            }
          }
          
          @media screen and (min-width: 1440px) {
            .wrapper {
              width: 672px;
              height: 736px;
              padding: 0 118px;
            }
          }